.container {
  padding-top: 5rem;
}

label {
  color: #5c6162;
}
.back-button {
  color:#5c6162;
  font-size: 1rem;
}

.save-button{
  color: #5bc0de;
  font-size: 1rem;
}

.btn-back{
  margin-right: 1rem;
}
