.container-contact{
  padding: 5%;
}

.toto {
  transition: transform 0.2s ease-in-out, background-color 0.5s ease;
  transform: scale(1.1);
  //background-color: darken(#fff, 25);
}

.list-group-item{
  border-radius: 50px;

}

h6{
  width: auto;

}
